*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #e7ecf1;
    color: black;
    padding: 10px;
    box-shadow: black 2px 4px 15px 0px;
}
.body{
    position: sticky;
    top: 0;
    z-index: 3;
}
.spanname{
    color: rgb(9, 98, 9);
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.navbar ul {
    display: flex; 
    gap: 2rem;
    list-style: none;
}
.nav{
    display: flex; 
    gap: 2rem;
    list-style: none;
    padding: 5px;
}
.favicon{
     font-size: 30px;
     margin-right: 10px;
}

.main-img{
    background: linear-gradient(rgba(35, 32, 32, 0.5), rgba(21, 20, 20, 0.5)) , url(".//assets/img/img_for_homepage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 38rem;
    position: relative;
}
.main-img h3{
   color: white;
   align-items: center;
   text-align: center;
    position: absolute;
    bottom: 200px;
    left: 400px;
    font-size: 40px;
}
.justice-btn{
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 37.5rem;
}
.justice-btn button{
    color: white;
    background-color: rgb(9, 98, 9);
    border: none;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border-radius: 2rem;
    font-size: smaller;
}
.images{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.images img{
    width: 70%;
    height: auto;
    margin-top: 2rem; 
    margin-left: 12rem;
}
.center-container{
    background-color: rgb(9, 98, 9);
    color: white;
    padding: 10rem 0rem 10rem 0rem;
    margin-top: 10rem;
    text-align: center;
}
.main-topic{
    color: rgb(9, 98, 9);
}
.read-btn button{
    background-color: rgb(9, 98, 9);
    color: white; 
    border: none;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border-radius: 7px;
}
.sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.head-and-btn{
    display: inline-block;
    justify-content: center;
    margin: 12rem 15rem 0rem 0rem;
}
.footer{
    width: 100%;
    height: 30vh;
    background-color: gray;
    margin-top: 2rem;
}
button {
    transition: transform .5s;
  }
  
button:hover {
    transform: scale(1.1);
    box-shadow: black 2px 2px 5px ;
  }
#login-button{
    color: white;
    background-color:  rgb(9, 98, 9);
    ;
    border: none;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border-radius: 2rem;
    display: initial;
    margin-right: 1rem;
}

/* Login-page */
#overlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
  }

  
.login-page{
    background-color: white;
    width: 21rem;
    height: 22rem; 
    border-radius: 1rem;
    text-align: center;
    z-index: 4;
    position: fixed;
    top: 30%;
    left: 40%;
    display: none;
    box-shadow: black 3px 3px 10px 1px;
}
.body{
    /* filter: brightness(100%); */
opacity: 1;

}
#x-mark1{
    cursor: pointer;
}
.xmark{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size:x-large;
}
.login-page input{
    margin-top: 1rem;
    padding: 10px 40px 10px 40px;
    background-color:#e7ecf1;
    border-radius: 1rem;
    border: none;
    text-align: center;
}
.sign-up-link{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.Login-btn button{
    padding: 10px 25px 10px 25px;
    border-radius: 2em;
    border: none;
    background-color:  rgb(9, 98, 9);
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.sign-up-link a{
    text-decoration: none;
    color: black;
}

#sign-up{
    cursor: pointer;
}
#lawyer_signin{
    cursor: pointer;
}
span{
    color: red;
}
/* SIGN-UP PAGE */

.sign-up-page{
    background-color: white;
    box-shadow: black 3px 3px 10px 1px;
    width: 25rem;
    height: 28rem; 
    border-radius: 1rem;
    text-align: center;
    z-index: 4;
    position: fixed;
    top: 30%;
    left: 38%;
    display: none;
}
.body{
    opacity: 1;
}
#x-mark2{
    cursor: pointer;
}
.sign-up-page input{
    margin-top: 1rem;
    padding: 10px 40px 10px 40px;
    background-color:#e7ecf1;
    border-radius: 1rem;
    border: none;
    text-align: center;
}
.Sign-up-btn button{
    padding: 10px 25px 10px 25px;
    border-radius: 2em;
    border: none;
    background-color: rgb(9, 98, 9);
    color: black;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}
#login-link{
    cursor: pointer;
    padding-left: 10px;
}
.lawyer_signin a{
    text-decoration: none;
    color: black;
}

/* Translate */
.languagebtn{
    font-size: x-large;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 1rem;
}
.translate{
    font-size: large;
    display: none;
}
.user_profile{
    border-radius: 200px;
}


  