*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #e7ecf1;
    color: black;
    padding: 10px;
    box-shadow: black 2px 4px 15px 0px;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.spanname{
    color: #0097b2;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.navbar ul {
    display: flex; 
    gap: 2rem;
    list-style: none;
}
.nav{
    display: flex; 
    gap: 2rem;
    list-style: none;
    padding: 5px;
}
#login-button{
    color: white;
    background-color: #0097b2;
    border: none;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border-radius: 2rem;
    display: initial;
}
/* Translate */
.languagebtn{
    font-size: x-large;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 2rem;
}
.translate{
    font-size: large;
    position: absolute;
    right: 0.5rem;
    top: 3rem;
    display: none;
}

body{
   background-color: white;
   color: #0097b2;
}
button {
    transition: transform .5s;
  }
  
button:hover {
    transform: scale(1.1);
    box-shadow: black 2px 2px 5px ;
  }
.homebtn{
    font-size: xx-large;
    margin-left: 1rem;
    margin-top: 0.7rem;
    color: black;
}
.homebtn:hover{
    opacity: 0.5;
}
.law-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #f9f9f9;
}
strong{
    color: black;
}
.container{
    text-align: center;
    margin-top: 100px;
}
.result{
    border: white solid;
    box-shadow: black 3px 3px 12px ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.result h3,h4{
    color: black;
}
