*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}
.sub-container{
    border: black solid;
    width: 26rem;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    
}
.sub-container div{
    line-height: 1.5rem;
}
.buttons{
    display: flex;
    gap: 10px;
}

