*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.side-navbar{
    background-color: rgb(9, 98, 9);
    width: 4%;
    height: 100%;
    position: fixed;
}
.main_container{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.main_container i{
    font-size: 2rem;
}
button {
    background-color: rgb(9, 98, 9);
    font-size: 16px;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    margin-left: 20rem;
}

button:hover{
   background-color: green;
}

.side-navbar i{
    color: #fff;
    font-size: 1.5rem;
}
.side-navbar div{
    margin-top: 5rem;
    padding: 17px;
    cursor: pointer;
}
.side-navbar div:hover{
    background-color: green;
}
.sub-container{
    display: flex;
    gap: 5rem;
    margin-top: 4rem;
}
.userdetails {
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
}
.userdetails i {
    font-size: 3rem;
}
#username{
    font-size: 2rem;
}

.issuesDetails {
    margin-left: 8rem;
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
    background-color: #fefefe;
    padding: 50px 120px 50px 120px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 8px;
  }
  
  input, textarea , select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus, textarea:focus , select:focus {
    outline: none;
    box-shadow: 0 0 4px green;
  }

  .aside-container{
    display: block;
  }

  .moreIssuesDet{
    display: flex;
    flex-direction: column; 
    background-color: #fefefe;
    gap: 0.5rem;
    padding: 15px 40px 15px 40px;
    margin-top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 8px;
  }

/* Popup Styles */

.popup {
    display: flex;
    padding-bottom: 10rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popup.hidden {
    display: none;
}

.popup-content {
    display: flex;
    background-color: white;
    border: 2px solid green;
    padding: 60px 40px 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.popup-content p {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(9, 98, 9);
}

.popup-content button {
    background-color: rgb(9, 98, 9);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: green;
}