
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

header h1 {
    flex: 1;
    text-align: center;
    color: rgb(9, 98, 9);
}

header .homebtn {
    font-size: xx-large;
    color: black;
    margin: 0 10px;
}

header .homebtn:hover {
    opacity: 0.7;
}

body {
    background-color: white;
    color: rgb(9, 98, 9);
}

.container {
    text-align: center;
    margin-top: 20px;
}

.result {
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 15px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.result h3,
.result h5 {
    margin: 10px 0;
    color: black;
}

i{
    color: rgb(9, 98, 9);
    cursor: pointer;  
    font-size: 2rem;
}
