
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.side-navbar {
    background-color: rgb(9, 98, 9);
    width: 60px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    z-index: 5;
}

.side-navbar i {
    color: #fff;
    font-size: 1.5rem;
}

.side-navbar div {
    margin: 1.5rem 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.side-navbar div:hover {
    background-color: green;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.rightSide-container{
    background-color:white;
    width: 310px;
    height: 100vh;
    position: fixed;
    right : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    z-index: 3;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.rightSide-Subcontainer{
    margin-top: 5rem;
}

.rightSide-Subcontainer h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.rightSide-Subcontainer h5 {
    font-size: 20px;
    color: #555;
}
.rightSide-Subcontainer div{
    margin-bottom: 3rem;
    margin-left: 25px;
}

.rightSide-Subcontainer select {
    width: 90%;
    padding: 8px 8px;
    font-size: 1rem;
    color: #333;
    border-radius: 8px;
    outline: none;
    
}

.rightSide-Subcontainer select:focus {
    border-color: rgb(9, 98, 9);
    box-shadow: 0 0 4px green;
}

#filter-btn , #can-filter{
    background-color: rgb(9, 98, 9);
    font-size: 15px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#filter-btn:hover , #can-filter:hover {
    background-color: green;
}

.btns{
    display: flex;
    gap: 14px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input[type="text"] {
    width: 250px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button , .moredetails button {
    background-color: rgb(9, 98, 9);
    font-size: 15px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;;
}

.search-container button:hover {
    background-color: green;
}
.main-container{
    width: 70%;
    padding: 1.5rem;
    margin-left: 100px;
    padding-top: 1rem;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    text-align: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: all 0.3s ease;
}
.main-container i{
    font-size: 2rem;
}
.details div{
    display: flex;
    gap: 1rem;
}
.details span i{
    padding-top: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.moredetails{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.hidden {
    display: none;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    position: fixed; 
    width: 100%; 
    height: 100%;
  }

.loginout button {
    background-color: rgb(9, 98, 9);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
}
.loginout button:hover{
    background-color: green;
}
