/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif ;
}
.side-navbar {
    background-color: rgb(9, 98, 9);
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    z-index: 5;
}

.side-navbar i {
    color: #fff;
    font-size: 1.5rem;
}

.side-navbar div {
    margin: 1.5rem 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.side-navbar div:hover {
    background-color: green;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
}

.sub-container {
    display: inline-block;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 1rem;
}
.sub-container h3{
     font-size: 1.5rem;
}

.subCon-sub{
    display: flex;
    justify-content: space-around;
    gap: 20rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.subCon-sub div{
    font-weight: 500;
}

.offcanvas-body h4{
    margin-top: 2rem
}

.sideBar-container div{
    margin-top: 2rem;
}

.chat-container {
    width: 95%;
    height: 75vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 4.5rem;
    margin-top: 1rem;

}
.loading {
    display: block;
    font-size: 5rem; 
    width: 100vw;
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.chat-messages {
    flex-grow: 1;
    padding: 1rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100% !important;
    overflow-y: auto;
}

.chat-messages .messageContainer{
    display: block;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word; 
    margin-bottom: 10px;

}

.messageContainer .mymsg {
    margin-left: auto;
    background-color: #e1ffc7;
    width: fit-content;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
}
.messageContainer .yourmsg {
    background-color: #ddd;
    width: fit-content;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
}
/* .chat-messages .messagelawyer { 
    align-self: flex-start;
}
.chat-messages .messagelawyer .msg {
    background-color: #ddd;
} */
.chat-input-form {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.chat-input-form input {
    flex-grow: 1;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 0.5rem;
}

.chat-input-form button {
    padding: 0.8rem 1.2rem;
    background-color: rgb(9, 98, 9);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.chat-input-form button:hover {
    background-color: #45a049;
}
.username{
    font-size: 1.5rem;
}
.loginout{
    margin-left: 1rem;
    display: none;
}

.loginout i {
    background-color: rgb(9, 98, 9);
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
}
.sub-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.closeBtn{
    background-color: rgb(9, 98, 9);
    color: white;
    padding: 5px 13px 5px 13px;
    border-radius: 1.6rem;
    border: none;
}
.closeBtn{
    padding: 8px 13px 8px 10px;
}
.closeBtn:hover{
    background-color: #45a049;
}
.closeBtn i{
    background-color: white;
    padding: 5px;
    border-radius: 1rem;
    margin-right: 5px;
}
#clientName{
    font-size: 1.8rem;
}

 #clientName i{
    font-size: 2rem;
    padding-right: 5px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: rgb(40, 39, 39);
    margin: 5% auto;
    padding: 20px;
    text-align: center;
    max-width: 350px;
    margin-top: 150px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}
#confirmYes{
    background-color:  rgb(9, 98, 9);
    color: white;
}
#confirmNo{
    background-color: red;
    color: white;
}
#confirmYes:hover{
    background-color: #45a049;
}
#confirmNo:hover{
    background-color: rgb(244, 95, 95);
}
.disabled-select {
    cursor: not-allowed;
}


/* for dropdown */
